<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

   <!-- -->
   <appender name="transactionLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="info.log" />
		<param name="MaxFileSize" value="10485760" />
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

    <logger name="tranlog" additivity="false">
       <level value="debug" />
       <appender-ref ref="transactionLog"/>
    </logger>

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{MM-dd HH:mm:ss} %5p %c:%M:%L - %m%n" />
		</layout>
	</appender>
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="ice.log" />
		<param name="MaxFileSize" value="10485760" /><!--10M-->
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{MM-dd HH:mm:ss} %5p %c:%M:%L - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="debug" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="debug" />
	</logger>

	<logger name="org.springframework.context">
		<level value="debug" />
	</logger>

	<logger name="org.springframework.web">
		<level value="debug" />
	</logger>

	<logger name="org.hibernate">
		<level value="debug" />
	</logger>

	<!-- Log JDBC bind parameter runtime arguments -->
	<logger name="org.hibernate.type">
		<level value="debug" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>
