<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<import resource="classpath:meetlove.xml" />
		<!--解决懒加载问题的拦截器 spring3.0+的配置方法 -->
	<mvc:interceptors>
		<bean name="openSessionInViewInterceptor" class="org.springframework.orm.hibernate4.support.OpenSessionInViewInterceptor">
			<property name="sessionFactory">
				<ref bean="sessionFactory"/>
			</property>
		</bean>
	</mvc:interceptors>

	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<util:list id="beanList">
				<!-- 注意顺序 -->
				<!-- <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
				</bean>  -->
				<bean class = "net.lw.meetlove.web.util.HttpMessageConverter">
					<property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
				</bean>
				<ref bean="mappingJackson2HttpMessageConverter" />
			</util:list>
		</property>
	</bean>

	<bean id="mappingJackson2HttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" >
		<property name="objectMapper" ref="objectMapper"/>
	</bean>
		<!-- json -->

  	<!-- 下面是json的转化配置 -->
  	<bean id="dateFormat" class="java.text.SimpleDateFormat">
  		<constructor-arg index="0">
  			<value>yyyy-MM-dd HH:mm:ss</value>
  		</constructor-arg>
  	</bean>

  	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
  		<property name="dateFormat" ref="dateFormat"/>
  	</bean>


	<!--文件上传处理-->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"/><!-- 解决上传的文件名是中文产生乱码的问题 -->
		<property name="maxUploadSize" value="314572800"/><!-- 300M -->
	</bean>
</beans>